body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: #728ab7;
  background: #f0f0f3;
  overflow-x: hidden;
  text-align: center;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  padding: 100px 20vw;
}

.blue {
  background: #0066ff;
}

.light-blue {
  background: #728ab7;
  color: #f0f0f3;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0;
}

.layer-white {
  background-image: url("images/layer-white.svg");
}

.flip {
  transform: rotate(180deg);
}
.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}
.blob-content {
  z-index: 1;
}

.neuro {
  box-shadow: -2.17893px -2.17893px 6.5368px #ffffff,
    2.17893px 2.17893px 6.5368px rgba(174, 174, 192, 0.4);
  border-radius: 21.3535px;
}
nav {
  font-size: 15px;
  font-weight: bold;
}
.hero {
  background-image: url("images/hero.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
header {
  z-index: 0;
  box-shadow: 0px 2px 5px rgb(119, 126, 141);
}
