{% extends "layout.html" %} {% block title %} Dashboard {% endblock %} {% block
main %}
<!-- <div class="containter">
  <img
    src="../static/images/logo.png"
    alt="PC-logo"
    width="30px"
    class="logo"
  />
   {% if message %}
        <p class="message">{{message | safe}}</p>
        {% endif %} 
  <form action="/submit" method="POST">
    <div class="form-group">
      <h3>Customer Name</h3>
      <input
        type="text"
        name="customer"
        class="form-control"
        placeholder="Name of vehicle owner"
      />
    </div>
    <div class="form-group">
      <h3>Dealer</h3>
      <label for="select">Select:</label
      ><select id="select" name="dealer">
        <option value="">Select Dealer</option>
        <option value="Tom Smith">Tom Smith</option>
      </select>
    </div>
    <div class="form-group">
      <h3>Comments about your experience</h3>
      <textarea
        name="comments"
        id=""
        cols="30"
        rows="10"
        placeholder="Tell us what you liked and/or did not like"
      ></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
<a href="/frontpage" class="btn btn">Curves</a> -->

<!-- START INDEX PAGE -->
<div
  class="container mx-auto mt-8 flex items-center justify-around"
  id="time-weather-box"
>
  <div class="clock">
    <div class="hour">
      <div class="hr" id="hr"></div>
    </div>
    <div class="min">
      <div class="mn" id="mn"></div>
    </div>
    <div class="sec">
      <div class="sc" id="sc"></div>
    </div>
  </div>
  <div class="weather-box my-2">
    <div class="weather-search">
      <input type="text" class="input mx-2 my-2 px-3 py-1" id="weather-searchbar" placeholder="Your city"></input>
      <ul id="weather-cities"></ul>
    </div>
    <div class="weather"></div>
  </div>
  <script src="../static/weather_api.js"></script>
  <script type="text/javascript" src="../static/clock.js"></script>
</div>

<form action="/" method="POST"> <!-- Ok, so I cannot put a form element around every task-input-button element, but need to have only one big encapsulating one -->
  <div
    class="container mx-auto mt-8 flex items-center justify-around"
    id="focus-tasks-box"
  >
  <!-- See BuJo for plan on focus-tasks-box section -->
    <!-- MONTHLY PLAN -->
    <div class="task-box mx-3" id="plan-month">
      <div class="task-box-header-container">
        <h3 class="task-box-header mt-2">PLAN FOR {{ month }} {{ year }}</h3>
      </div>
      <div class="container mt-3">
        {% for plan in monthly_plan %}
        <div class="task-container mx-2 my-2">
          <div class="task-item mx-2 px-3 py-3">{{ plan.plan_item }}</div>
          <a href="/delete/{{ plan.id }}"><div class="task-button delete-task pr-2">-</div></a>
        </div>
        {% endfor %}  
      </div>
      <div class="task-box-input-container">
        <input type="text" name="add-task-in-1" class="input mx-2 my-2 px-3 py-2" placeholder="What will it be?"></input>
        <button type="submit" class="task-button" id="add-task">+</button>
      </div>
    </div>

    <!-- DAILY FOCI -->
    <div class="task-box mx-3" id="focus-day">
      <div class="task-box-header-container">
        <h3 class="task-box-header mt-2">YOUR <span class="task-count"></span> <span class="focus-foci"></span> FOR THE DAY</h3>
      </div>
      <div class="container foci mt-3">
        {% for focus in daily_foci %}
        <div class="task-container mx-2 ">
          <div class="task-item mx-2 px-3 py-3">{{ focus.focus_item }}</div>
          <a href="/delete/{{ focus.id }}"><div class="task-button delete-task pr-2">-</div></a>
        </div> 
        {% endfor %} 
      </div>
    <div class="task-box-input-container">
        <input type="text" name="add-task-in-2" class="input mx-2 my-2 px-3 py-2" placeholder="What will it be?"></input>
        <button type="submit" class="task-button" id="add-task">+</button>
    </div>
    </div>

    <!-- ALL TASKS -->
    <div class="task-box mx-3" id="tasks-day">
      <div class="task-box-header-container">
        <h3 class="task-box-header mt-2">ALL YOUR TASKS</h3>
      </div>
      <div class="container mt-3">
        {% for task in all_tasks %}
        <div class="task-container mx-2 ">
          <div class="task-item mx-2 px-3 py-3">{{ task.task_item }}</div>
          <a href="/delete/{{ task.id }}"><div class="task-button delete-task pr-2">-</div></a>
        </div>
        {% endfor %}
      </div>
      <div class="task-box-input-container">
        <input type="text" name="add-task-in-3" class="input mx-2 my-2 px-3 py-2" placeholder="What will it be?"></input>
        <button type="submit" class="task-button" id="add-task">+</button>
      </div>
    </div>
  </div>
</form>
<script src="../static/task_dashboard.js"></script>
{% endblock %}
