{% extends "layout.html" %} {% block title %} Dashboard {% endblock %} {% block
main %}
<!-- <div class="containter">
  <img
    src="../static/images/logo.png"
    alt="PC-logo"
    width="30px"
    class="logo"
  />
   {% if message %}
        <p class="message">{{message | safe}}</p>
        {% endif %} 
  <form action="/submit" method="POST">
    <div class="form-group">
      <h3>Customer Name</h3>
      <input
        type="text"
        name="customer"
        class="form-control"
        placeholder="Name of vehicle owner"
      />
    </div>
    <div class="form-group">
      <h3>Dealer</h3>
      <label for="select">Select:</label
      ><select id="select" name="dealer">
        <option value="">Select Dealer</option>
        <option value="Tom Smith">Tom Smith</option>
      </select>
    </div>
    <div class="form-group">
      <h3>Comments about your experience</h3>
      <textarea
        name="comments"
        id=""
        cols="30"
        rows="10"
        placeholder="Tell us what you liked and/or did not like"
      ></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
<a href="/frontpage" class="btn btn">Curves</a> -->

<!-- START INDEX PAGE -->
<div class="container mx-auto mt-8 flex flex-col items-center justify-center">
  <div class="clock">
    <div class="hour">
      <div class="hr" id="hr"></div>
    </div>
    <div class="min">
      <div class="mn" id="mn"></div>
    </div>
    <div class="sec">
      <div class="sc" id="sc"></div>
    </div>
  </div>
  <script type="text/javascript">
    const deg = 6;
    const hr = document.querySelector("#hr");
    const mn = document.querySelector("#mn");
    const sc = document.querySelector("#sc");

    setInterval(() => {
      let day = new Date();
      let hh = day.getHours() * 30;
      let mm = day.getMinutes() * deg;
      let ss = day.getSeconds() * deg;

      hr.style.transform = `rotateZ(${hh + mm / 12}deg)`;
      mn.style.transform = `rotateZ(${mm}deg)`;
      sc.style.transform = `rotateZ(${ss}deg)`;
    });
  </script>
</div>
{% endblock %}
