<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <!-- Tailwind CSS -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Own stylesheet -->
    <link rel="stylesheet" href="static/styles.css" />
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <!-- KUTE.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kute.js/2.0.0/kute.min.js"></script>
    <title>{% block title %}{% endblock %} | PC Dash</title>
  </head>
  <body>
    <header class="border-b border-gray-300 py-4 px-4">
      <div class="container mx-auto flex items-center justify-between">
        <a href="/"><img src="static/images/favicon.ico" width="30" /></a>
        {% if session.user_id %}
        <nav class="pl-6">
          <ul class="flex">
            <li class="px-2">
              <a
                href="/frontpage"
                class="px-2 py-2 transition hover:bg-gray-200 rounded-md neuro"
                >About</a
              >
            </li>
            <li class="px-2">
              <a
                href="/"
                class="px-2 py-2 transition hover:bg-gray-200 rounded-md neuro"
                >Dashboard</a
              >
            </li>
            <li class="px-2">
              <a
                href="#games"
                class="px-2 py-2 transition hover:bg-gray-200 rounded-md neuro"
                >Games</a
              >
            </li>
            <li class="px-2">
              <a
                href="/signout"
                class="px-2 py-2 transition hover:bg-gray-200 rounded-md neuro"
                >Sign Out</a
              >
            </li>
          </ul>
        </nav>
        {% else %}
        <nav class="pl-6">
          <ul class="flex">
            <li class="px-2">
              <a
                href="#about"
                class="px-2 py-2 transition hover:bg-gray-200 rounded-md neuro"
                >About</a
              >
            </li>
            <li class="px-2">
              <a
                href="#dashboard"
                class="px-2 py-2 transition hover:bg-gray-200 rounded-md neuro"
                >Dashboard</a
              >
            </li>
            <li class="px-2">
              <a
                href="#games"
                class="px-2 py-2 transition hover:bg-gray-200 rounded-md neuro"
                >Games</a
              >
            </li>
            <li class="px-2">
              <a
                href="/signin"
                class="px-2 py-2 transition hover:bg-gray-200 rounded-md neuro"
                >Sign In</a
              >
            </li>
          </ul>
        </nav>
        {% endif %}
      </div>
    </header>
    {% block main %}{% endblock %}
    <div class="spacer layer-white"></div>
    <footer class="#">
      CS50 Final Project by
      <a id="footer-link" href="https://github.com/itspatrickchoi"
        >Patrick Choi</a
      >.
    </footer>
  </body>
</html>
